{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} AAAAAA {% endblock %}

{% block page_content %}
    <h1>hello world ! I am Batman</h1>
    <p>The local date_and_time is {{ moment(current_time).format('LLLL') }}</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    <div class="page-header">
        <h1>Hello,{% if name %}{{ name }}
        {% else %}Stranger{% endif %}!

        </h1>
    </div>
    {{ wtf.quick_form(form) }}

{% endblock %}